@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
body {
  width: 300px;
  margin: 16px 8px 16px 8px;
}

#options-form {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 1.5rem;
}

.title {
  margin-top: 4px;
  margin-bottom: 8px;
  font-size: 1.2rem;
}

.form-item label {
  font-size: 1rem;
}

input,
select {
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 4px 8px;
  margin-top: 4px;
}

button {
  cursor: pointer;
  margin-top: 24px;
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  width: 80%;
  align-self: center;
}

button:hover {
  background-color: black;
  color: white;
}

button:active {
  transform: scale(0.98);
}

.form-item {
  margin-top: 8px;
  margin-bottom: 8px;
}

.form-item:nth-child(1) {
  margin-top: 0px;
  margin-bottom: 8px;
}
